
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Boostrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Assets/css/Show.css" rel="stylesheet" />
    <div class="main">
        <div class="row title">
            <div class="col-sm">
                <h5>Yêu cầu khách hàng: <span>Tên đại lý (1)</span></h5>
            </div>
        </div>
        <div class="row input">

        </div>
        <div class="row title">
            <div class="col-sm">
                <h5>Kết luận: <span>Kết luận của khách hàng (3)</span></h5>
            </div>
        </div>
        <div class="row input">

        </div>
        <div class="row input">

        </div>
    </div>
    <div class="row footer">

    </div>
