
@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Boostrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Assets/css/Input.css" rel="stylesheet" />
<div class="main">
    <div class="row title">
        <form>
            <label>Nhập Yêu cầu: </label>
            <input type="text" class="form-control" placeholder="Nhập yêu cầu">
        </form>
    </div>
    <div class="row input">
        <form action="/action_page.php">
            <input class="btn btn-outline-primary" type="file" id="img" name="img" accept="image/*">
            <div class="button">
                <input class="btn btn-success" type="submit">
                <input class="btn btn-warning" type="reset">
            </div>
        </form>
    </div>
    <div class="row title">
        <div>
            <form>
                <label>Nhập Kết luận: </label>
                <input type="text" class="form-control" placeholder="Nhập kết luận">
            </form>
        </div>
    </div>
    <div class="row input">
        <form action="/action_page.php">
            <input class="btn btn-outline-primary" type="file" id="img" name="img" accept="image/*">
            <div class="button">
                <input class="btn btn-success" type="submit">
                <input class="btn btn-warning" type="reset">
            </div>
        </form>
    </div>
    <div class="row input">
        <form action="/action_page.php">
            <input class="btn btn-outline-primary" type="file" id="img" name="img" accept="image/*">
            <div class="button">
                <input class="btn btn-success" type="submit">
                <input class="btn btn-warning" type="reset">
            </div>
        </form>
    </div>
</div>
<div class="row footer">

</div>
