
.table {
    margin-top: 20px;
}

.color-table {
    background-color: rgb(151, 204, 60);
}

.btn {
    /*height: 30px;*/
    border-radius: 5px;
    margin: 0px 10px;
}

.box {
    width: 1000px;
}

    .box .box1 {
        width: 70%;
    }

    .box .box2 {
        width: 32%;
    }

.pull-center {
    text-align: center;
}

.text-color {
    color: white;
}

.btn-lg {
    border: none
}